<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance</title>
</head>
<body>
    {{define "hello"}}Hello, {{.}}!{{end}}
    <!-- <table>
        <tr>
          <th>Currency</th>
          <th>Amount</th>
          <th>Price in Dollars</th>
          <th>Price in Euros</th>
          <th>Time of the Rate Used</th>
          <th>Total Euros/th>
          <th>Total Dollars/th>
        </tr>
        <tr>
          <td>BTC</td>
          <td>{{.Btc}}</td>
          <td>{{.BtcUsd}}</td>
          <td>{{.BtcEur}}</td>
          <td>{{.DateTime}}</td>
          <td>{{.BtcTotalEur}}</td>
          <td>{{.BtcTotalUsd}}</td>
        </tr>
        <tr>
            <td>ETH</td>
            <td>{{.Eth}}</td>
            <td>{{.EthUsd}}</td>
            <td>{{.EthEur}}</td>
            <td>{{.DateTime}}</td>
            <td>{{.EthTotalEur}}</td>
            <td>{{.EthTotalUsd}}</td>
        </tr>
        <tr>
            <td>ADA</td>
            <td>{{.Ada}}</td>
            <td>{{.AdaUsd}}</td>
            <td>{{.AdaEur}}</td>
            <td>{{.DateTime}}</td>
            <td>{{.AdaTotalEur}}</td>
            <td>{{.AdaTotalUsd}}</td>
        </tr>
        <tr>
            <td>XRP</td>
            <td>{{.Xrp}}</td>
            <td>{{.XrpUsd}}</td>
            <td>{{.XrpEur}}</td>
            <td>{{.DateTime}}</td>
            <td>{{.XrpTotalEur}}</td>
            <td>{{.XrpTotalUsd}}</td>
        </tr>
        <tr>
            <td>DOGE</td>
            <td>{{.Dog}}</td>
            <td>{{.DogUsd}}</td>
            <td>{{.DogEur}}</td>
            <td>{{.DateTime}}</td>
            <td>{{.DogTotalEur}}</td>
            <td>{{.DogTotalUsd}}</td>
        </tr>
        <tr>
            <td>TOTAL</td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td>{{.TotalEur}}</td>
            <td>{{.TotalUsd}}</td>
        </tr>
    </table> -->
</body>
</html>